
@{
    ViewBag.Title = "Principal";
}

<div class="container" align="center">
    <img class="irc_mi" src="https://media.giphy.com/media/xTiTnpVDp86JbFCdzi/giphy.gif"
         alt="Imagen relacionada" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)"
         height="375" style="margin-top: 10px;">
</div>
<div class="container" align="center">
    <h2>SISTEMA GESTOR DE RECURSOS HUMANOS</h2>
    <em>Proyecto final de Programacion 3, ITLA C-3, 2019</em>
    <br />
    <em>Profesor: Juan Rosario</em>
    <br />
    <em>Estudiante: Marianny Abigail Mata Lora- </em>
    <br />
    <em>Matricula: 2017-4453</em>


</div>
